#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}