#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rectangle_2 {
  position: absolute;
  top: 145px;
  left: 28px;
  width: 668px;
  height: 323px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Image_2 {
  position: absolute;
  top: 157px;
  left: 43px;
  width: 642px;
  height: 301px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_36 {
  position: absolute;
  top: 485px;
  left: 57px;
  width: 72px;
  height: 15px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_36 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_36 span {
  color: #84A82C;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_36 span#rtr-s-Label_36_0 {
  color: #84A82C;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_1 {
  position: absolute;
  top: 106px;
  left: 28px;
  padding-left: 12px;
  width: 346px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Arial,Arial;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_1 span {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_1 span#rtr-s-Label_1_0 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Image_4 {
  position: absolute;
  top: 483px;
  left: 141px;
  width: 19px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_35 {
  position: absolute;
  top: 487px;
  left: 167px;
  width: 79px;
  height: 15px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_35 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_35 span {
  color: #84A82C;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_35 span#rtr-s-Label_35_0 {
  color: #84A82C;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Image_5 {
  position: absolute;
  top: 480px;
  left: 30px;
  width: 15px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_1 {
  position: absolute;
  top: 511px;
  left: 28px;
  width: 657px;
  height: 67px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_1 span {
  color: #8CAF2F;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #8CAF2F;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_3 {
  position: absolute;
  top: 739px;
  left: 260px;
  width: 435px;
  height: 23px;
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/3b0a929c-76b2-4533-9fa2-58793ede8a85.PNG');
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_3 span {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_3 span#rtr-s-Label_3_0 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_4 {
  position: absolute;
  top: 740px;
  left: 28px;
  padding-left: 12px;
  width: 178px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Arial,Arial;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_4 span {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_4 span#rtr-s-Label_4_0 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Image_11 {
  position: absolute;
  top: 10px;
  left: 3px;
  width: 156px;
  height: 56px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Image_1 {
  position: absolute;
  top: 233px;
  left: 277px;
  width: 159px;
  height: 149px;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  border-radius: 75px 75px 75px 75px;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rectangle_3 {
  position: absolute;
  top: 76px;
  left: 747px;
  width: 223px;
  height: 1092px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_9 {
  position: absolute;
  top: 106px;
  left: 747px;
  padding-left: 12px;
  width: 164px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Arial,Arial;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_9 span {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_9 span#rtr-s-Label_9_0 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_2 {
  position: absolute;
  top: 139px;
  left: 753px;
  width: 211px;
  height: 62px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_2 span {
  color: #8CAF2F;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #8CAF2F;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_2 span#rtr-s-Rich_text_2_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rectangle_4 {
  position: absolute;
  top: 687px;
  left: 435px;
  width: 250px;
  height: 35px;
  background-color: #799E29;
  background-image: -moz-linear-gradient(top,#799E29,#9BCA34);
  background-image: -webkit-linear-gradient(top,#799E29,#9BCA34);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#799E29), color-stop(100%,#9BCA34));
  background-image: -o-linear-gradient(top,#799E29,#9BCA34);
  background-image: linear-gradient(to bottom,#799E29,#9BCA34);
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Arial,Arial;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rectangle_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_3 {
  position: absolute;
  top: 212px;
  left: 754px;
  width: 211px;
  height: 62px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_3 span {
  color: #8CAF2F;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_3 span#rtr-s-Rich_text_3_0 {
  color: #8CAF2F;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_3 span#rtr-s-Rich_text_3_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_10 {
  position: absolute;
  top: 106px;
  left: 390px;
  width: 308px;
  height: 23px;
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/3b0a929c-76b2-4533-9fa2-58793ede8a85.PNG');
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_10 span {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_10 span#rtr-s-Label_10_0 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Group_1 {
  position: absolute;
  top: 775px;
  left: 36px;
  width: 663px;
  height: 134px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rectangle_13 {
  position: absolute;
  top: 0px;
  left: 31px;
  width: 630px;
  height: 132px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 2px 2px 2px 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 4px 8px 20px 0px #404040;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rectangle_13 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Group_2 {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 649px;
  height: 122px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Image_8 {
  position: absolute;
  top: 26px;
  left: 0px;
  width: 58px;
  height: 59px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 30px 30px 30px 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_5 {
  position: absolute;
  top: 0px;
  left: 87px;
  width: 111px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Arial,Arial;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_5 span {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_5 span#rtr-s-Label_5_0 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_5 span#rtr-s-Label_5_1 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_37 {
  position: absolute;
  top: 107px;
  left: 614px;
  width: 27px;
  height: 15px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_37 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_37 span {
  color: #84A82C;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_37 span#rtr-s-Label_37_0 {
  color: #84A82C;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_38 {
  position: absolute;
  top: 5px;
  left: 582px;
  width: 67px;
  height: 15px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_38 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_38 span {
  color: #84A82C;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_38 span#rtr-s-Label_38_0 {
  color: #84A82C;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_38 span#rtr-s-Label_38_1 {
  color: #84A82C;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_8 {
  position: absolute;
  top: 38px;
  left: 87px;
  width: 562px;
  height: 67px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_8 span#rtr-s-Rich_text_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Input_1 {
  position: absolute;
  top: 577px;
  left: 30px;
  padding-left: 8px;
  width: 645px;
  height: 95px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Input_1 .valign {
  vertical-align: top;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Input_1 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Master_item_1 div.offset {
  position: relative;
  top: -109px;
  left: -152px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Master_item_1 {
  position: absolute;
  top: 13px;
  left: 0px;
  width: 992px;
  height: 50px;
  overflow: visible;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Group_3 {
  position: absolute;
  top: 926px;
  left: 37px;
  width: 663px;
  height: 134px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rectangle_14 {
  position: absolute;
  top: 0px;
  left: 31px;
  width: 630px;
  height: 132px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 2px 2px 2px 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 4px 8px 20px 0px #404040;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rectangle_14 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Group_4 {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 649px;
  height: 122px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Image_9 {
  position: absolute;
  top: 26px;
  left: 0px;
  width: 58px;
  height: 59px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 30px 30px 30px 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_6 {
  position: absolute;
  top: 0px;
  left: 87px;
  width: 111px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Arial,Arial;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_6 span {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_6 span#rtr-s-Label_6_0 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_6 span#rtr-s-Label_6_1 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_6 span#rtr-s-Label_6_2 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_39 {
  position: absolute;
  top: 107px;
  left: 614px;
  width: 27px;
  height: 15px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_39 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_39 span {
  color: #84A82C;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_39 span#rtr-s-Label_39_0 {
  color: #84A82C;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_40 {
  position: absolute;
  top: 5px;
  left: 582px;
  width: 67px;
  height: 15px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_40 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_40 span {
  color: #84A82C;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_40 span#rtr-s-Label_40_0 {
  color: #84A82C;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Label_40 span#rtr-s-Label_40_1 {
  color: #84A82C;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_9 {
  position: absolute;
  top: 38px;
  left: 87px;
  width: 562px;
  height: 67px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb #s-Rich_text_9 span#rtr-s-Rich_text_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-03d9ec7b-e313-4c42-8480-40a7cfe9c0eb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}