#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Label_1 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -ms-transform: rotate(0.0deg);
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Rectangle_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Rectangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Rectangle_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Rectangle_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Rectangle_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Rectangle_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Rectangle_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Rectangle_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}