#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71389cd5-6a30-4a44-921a-4a15fe9caf6c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}