#s-ad6e0ec9-04a3-4563-855b-cb97b74052a2 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 4px 4px 4px 4px;
  -ms-transform: rotate(0.0deg);
}
#s-ad6e0ec9-04a3-4563-855b-cb97b74052a2 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-ad6e0ec9-04a3-4563-855b-cb97b74052a2 #s-Rectangle_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-ad6e0ec9-04a3-4563-855b-cb97b74052a2 #s-Rectangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -pie-background: linear-gradient(to bottom,#799E29,#9BCA34);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-ad6e0ec9-04a3-4563-855b-cb97b74052a2 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ad6e0ec9-04a3-4563-855b-cb97b74052a2 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ad6e0ec9-04a3-4563-855b-cb97b74052a2 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ad6e0ec9-04a3-4563-855b-cb97b74052a2 #s-Label_1 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -ms-transform: rotate(0.0deg);
}
#s-ad6e0ec9-04a3-4563-855b-cb97b74052a2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}