#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Label_1 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Label_4 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Rectangle_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Label_9 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Rich_text_2 {
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Rich_text_3 {
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Label_37 {
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Rectangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -pie-background: linear-gradient(to bottom,#799E29,#9BCA34);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Label_38 {
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Rectangle_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Label_42 {
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Rectangle_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Label_44 {
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Rectangle_14 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Label_43 {
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=55);
  filter: alpha(opacity=55);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 4px 4px 4px 4px;
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Rectangle_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 4px 4px 4px 4px;
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Label_14 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Label_15 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Rich_text_4 {
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}