#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Rich_text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Rich_text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Label_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Label_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Label_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Label_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Image_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=55) ;
  filter: alpha(opacity=55) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Image_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Image_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Label_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 #s-Rich_text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8db555d-83de-4f54-9a92-9cd2ffde7ea2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}