#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 990px;
  height: 48px;
  -ms-transform: rotate(0.0deg);
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Label_1 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -ms-transform: rotate(0.0deg);
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #747474;
  -ms-transform: rotate(0.0deg);
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #747474;
  -ms-transform: rotate(0.0deg);
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #747474;
  -ms-transform: rotate(0.0deg);
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #747474;
  -ms-transform: rotate(0.0deg);
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #747474;
  -ms-transform: rotate(0.0deg);
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #747474;
  -ms-transform: rotate(0.0deg);
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #747474;
  -ms-transform: rotate(0.0deg);
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #747474;
  -ms-transform: rotate(0.0deg);
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}