#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e #m-f4aa0d5f-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f4aa0d5f-02ed-4d94-b92c-63db03d0263e.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}